body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.calculator {
	border-radius: 10px;
	padding: 20px;
	box-shadow: 6px 4px 10px;
	text-align: center;
}
input {
	display: block;
	margin: 5px;
	width: 200px;
	height: 30px;
	font-size: medium;
	text-align: center;
}

.operators button {
	background-color: grey;
	color: white;
	width: 30px;
	height: 30px;
	margin: 3px;
}

.reset button {
	background-color: orange;
	color: antiquewhite;
	width: 40px;
	height: 40px;
	margin: 3px;
}
